.question-list {
    margin-left: -15px;
    margin-right: -15px;
    background-color: rgb(37, 41, 51);
    color: #c3c3c3;
    padding: 2vh 0;
    .question-group {
        padding-left: 20px;
    }
    .question-item {
        padding-left: 40px;
    }
    .question-item, .question-group {
        height: 4.8888889vh;
    }
}