.question-container {

    .question-content {
        font-size: 25px;
    }

    .question-answer {
        font-size: 23px;
        .question-answer-item {
            width: 50%;
        }
    }
}
