.question-container {
    margin: 0 30px;
    .question-content {
        font-size: 25px;
        margin-bottom: 30px;
    }

    .question-answer {
        font-size: 23px;
        .question-answer-item {
            width: 50%;
        }
    }
}
