// Fonts
@import "font";

// Variables
@import "variables";

@import "countdown";
@import "question-content";
@import "question-list";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.header {
    padding: 0px 30px;
    height: 5vh;
    border-bottom: solid 1px #c5c5c5;
}

.content {
    background-color: rgb(25, 29, 36);
    margin-left: -15px;
    margin-right: -15px;
    height: 95vh;
    color: rgb(198, 157, 74);
}
