// Fonts
@import "font";

// Variables
@import "variables";

@import "countdown";
@import "question";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.header {
    padding: 0px 30px;
    height: 5vh;
    border-bottom: solid 1px #c5c5c5;
}
